
  p {
    color: white;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(111, 173, 122, 1);
  }
  h1 {
    color: rgb(1, 90, 1);
    border: 1px solid rgb(1, 90, 1);
    margin: 45px;
    padding: 30px;
    float: left;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .picholder {
      border: 1px solid rgb(1, 90, 1);
      margin: 15px;
      padding: 5px;
    }
  h2 {
    color: rgb(1, 90, 1);
    margin: 45px;
    padding: 5px
  }
  h3 {
    color: rgb(1, 90, 1);
  }
  .learn-list-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  ul {
    list-style-type: none;
    color: white;
    border-style: solid;
    border-width: 1px;
    margin: 45px;
    padding: 5px;
    border-color: rgb(1, 90, 1);
  }
  .white-text {
      color: white;
    }
  .green-text {
    color: rgb(1, 90, 1);
  }
  .important:hover {
      background-color: white;
    }
  a[href="hs-projects.html"] {
    color: rgb(1, 90, 1);
    padding: 1rem;
  }
  .fa-instagram {
      font-weight: bold;
      font-size: 200%;
  }
  a[href="https://www.cmcintoshphoto.com/"] {
      color: rgb(1, 90, 1);
      padding: 1rem;
    }
